body * {
    font-family: 'Outfit', sans-serif;
}

h2{
    font-size: 15;
    font-weight: 900;
    font-family: "Orbitron", sans-serif;
    color: rgb(19, 104, 174);
    margin-left: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    font-size: 15;
    font-weight: 900;
    font-family: "Orbitron", sans-serif;
    color: rgb(19, 104, 174);
    padding: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 50px; 
    margin-bottom: 30px; 
    margin-left: 0px;
    border-top: 8px solid rgb(19, 104, 174);
    border-bottom: 8px solid rgb(19, 104, 174);

}

.textbox {
    font-weight: 200;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;

}

body {
    background-color: #eaeaea;
}

.page {
    width: 100%;
    max-width: 1240px;
    background-color: #eaeaea;
    margin: auto;
    padding: 30px;
    padding-top: 35px;
}
.vega-embed {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto; 
}

.vega-bind {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
}
  
.vega-bind label {
margin-left: 15px; 
}

.vega-bind input {
margin-right: 5px; 
}

.vega-bindings {
    display: flex;
    flex-direction: column;  
    gap: 10px; 
}
  
.vis-container {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    overflow-x: visible;
}

.top-panel, .bottom-panel {
    background-color: rgba(0, 70, 135, 0.5);
    backdrop-filter: blur(10px);
    height: 30px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
}

.top-panel {
    top: 0;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); /* Fade out effect at bottom */
}

.bottom-panel {
    bottom: 0;
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)); /* Fade out effect at top */
}

/* Title and Icon */
.title-section {
    width: 100%;
    display: flex;
    margin-bottom: 0px;
    padding: 10px;
}

.tourism-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.description h2, h1, h3 {
    margin-top: 0px;
    text-align: left;

}

.description-right {
    margin-top: 240px;
    margin-left: 120px;
    padding: 10px;
    z-index: 9999;
    text-align: justify;
    font-weight: 200;
    line-height: 1.6;
    padding-bottom: 0px;
}

.description-left {
    padding-right: 10px;
    font-weight: 200;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.credits-section {
    border-top: 8px solid rgb(19, 104, 174); /* Adjust the color and thickness of the border */
    padding: 40px; /* Optional: Adds some padding to the inside of the credits section */
  
    margin-top: 50px; /* Optional: Adds space above the credits */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Adds a background to make it stand out */
    text-align: center; /* Center the text */
    margin-bottom: 0px;
}

/* Section Divider */
.section-divider {
    border: none;
    border-top: 8px solid rgb(19, 104, 174);
    margin: 10px 0;
}

/* Adjustments for Mobile View */
@media (max-width: 600px) {
    .title-section {
        flex-direction: column;
    }

    .tourism-icon {
        margin-bottom: 10px;
    }

    .description-right {
        margin-top: 100px;
        margin-left: 0;
    }
}
